<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Student</title>
</head>
<body>
<h1>Add New Student</h1>
<form action="#" th:action="@{/students}" th:object="${student}" method="post">
    <label>Student ID: <input type="text" th:field="*{studentId}" /></label><br/>
    <label>Student Name: <input type="text" th:field="*{studentName}" /></label><br/>
    <label>Address: <input type="text" th:field="*{address}" /></label><br/>
    <button type="submit">Save</button>
</form>
</body>
</html>
